<% if (errorMessage) { %>
    <div class="alert alert-danger text-center mt-2" role="alert">
        <%= errorMessage %>
    </div>
<% } %>

<% if (successMessage) { %>
    <div class="alert alert-success text-center mt-2" role="alert">
        <%= successMessage %>
    </div>
<% } %>
