<!-- ===== Scroll to Top Button ===== -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- jQuery & Bootstrap Core -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core Plugin (jQuery Easing) -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Template Custom Script -->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Chart.js & Custom Chart Scripts -->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

<!-- DataTables Plugin & Custom -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>

<!-- Toastify Notification -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<!-- Socket.IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Alert -->
<script>
    const socket = io();

    // Function to update alerts UI
    function updateAlerts(alerts) {
        const list = document.getElementById('alerts-list');
        const count = document.getElementById('alert-count');

        list.innerHTML = '';

        if (alerts.length > 0) {
            count.innerText = alerts.length;
            alerts.forEach(alert => {
                const alertItem = document.createElement('a');
                alertItem.className = 'dropdown-item d-flex align-items-center';
                alertItem.href = `/purchases/add?barcode=${alert.barcode}`;

                alertItem.innerHTML = `
                <div class="mr-3">
                    <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                </div>
                <div>
                    <div class="small text-gray-500">Barcode: ${alert.barcode}</div>
                    <span class="font-weight-bold">Stock Alert: ${alert.name} only have stock ${alert.stock}!</span>
                </div>
                `;
                
                list.appendChild(alertItem);
            });
        } else {
            count.innerText = '0';
            const empty = document.createElement('a');
            empty.className = 'dropdown-item text-muted';
            empty.textContent = 'Tidak ada alert';
            list.appendChild(empty);
        }
    }

    // Handle stock-alert from socket
    socket.on('stock-alert', (alerts) => {
        updateAlerts(alerts);
    });
</script>